
<div class="row">
  <div id="myTabContent" class="tab-content">
    <div class="listMiniatures">

      <% @events.each do |event| %>
        <div class="miniatures-box">
          <%= link_to "", admin_event_path(event), :class => 'btn-delete fa fa-close', :data=> {:confirm=> "Are you sure? "}, :method => :delete %>
          <div class="miniatures-image-holder">
            <%= image_tag event.photo, :class =>"img-responsive" %>
            <div class="property-address-mob">
              <address class="applicant-address">
                <i class="fa fa-map-marker"></i> 
                 <%= event.address %>
              </address>
            </div>
          </div>
          <div class="property-content">
            <ul class="proerties-details-list">
              <li class="dropdown-holder">
                <div class="property-address">
                  <%= link_to event.program_type, event_path(event), :class =>'applicant-name' %>
                  <address class="applicant-address">
                    <i class="fa fa-map-marker"></i> 
                    <%= event.address %> <span><%= event.area_name %></span> <span><%= event.city %></span>
                  </address>
                </div>
                <ul class="price-dropdown">
                  <li>
                    <strong><%= event.program_type %></strong>
                    <span>$2,300</span>
                  </li>
                  <li>
                    <strong>#1 Changed on 25 Sep `2016</strong>
                    <span>- $120</span>
                  </li>
                  <li>
                    <strong>#2 Changed on 28 Sep 2016</strong>
                    <span>- $80</span>
                  </li>
                   <li>
                    <strong>New Price:</strong>
                    <span>$2,100</span>
                  </li>
                </ul>
              </li>
              <li>
                <div class="event-date">
                  <span><em><%= event.day %></em> <%= event.time %></span>
                  <p><%= event.datetime %> </p>
                  <p>Organizar Name: <%= event.client_name %></p>
                </div>
                <div class="applicant-date">
                  <strong class="date">Basic Plain</strong>
                  <span>Available</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>





