<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Data List</h4>
                    <div class="add-product">
                        <%= link_to "Add Library", new_naat_path(@naat) %>
                        <a href="#"></a>
                    </div>
                    <div class="asset-inner">
                      
                        <table>
                            <tr>
                                <th>No</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Status</th>
                                <th>Writer Name</th>
                                <th>Vidoe Link</th>
                                <th>Audio File</th>
                                <th>L Type</th>
                                <th>Setting</th>
                            </tr>
                            <% @naats.each do |naat| %>
                                <tr>
                                    <td><%= naat.id %></td>
                                    <td>
                                        <a href="#">
                                            <%= image_tag naat.photo_url(naat),  :class =>"img-responsive" %>
                                        </a>
                                    </td>
                                    <td><p><%= link_to naat.title, naat_path(naat) %><p></td>
                                    <td>
                                        <button class="pd-setting">Active</button>
                                    </td>
                                 
                                    <td>
                         

                                    </td>

                                    <td>
                                        <%=  naat.writername.present? ? 'yes': 'no' %>

                                    </td>
                                    <td>9</td>
                                    <td>
                                        <button class="pd-setting-ed">
                                            <%= link_to '', { action: :edit, id: naat.id }, class: "fa fa-pencil-square-o", :data => {:toggle=>"tooltip"},  'data-original-title' => "Trash",'data-placement' => 'right'%>

                                            <%#= link_to 'Edit', [:edit, id: naat.id] %>

                                        </button>
                                        <button class="pd-setting-ed">
                                            <%= link_to '', { action: :destroy, id: naat.id }, class: "fa fa-trash-o", :data => {:toggle=>"tooltip"}, :method => :delete, 'data-original-title' => "Trash",'data-placement' => 'right'%>
                                        </button>


                                               
                                    </td>
                                </tr>
                            <% end %>
                        </table>
                        
                    </div>
                    <div class="custom-pagination">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>