<nav id="sidebar" class="">
  <div class="sidebar-header">
    <a href="index.html">
    <%= image_tag 'logo/logo.png', :class => 'main-logo' %>
    </a>
    <strong>
    <a href="index.html">
    <%= image_tag 'logo/logosn.png'%>
    </a>
    </strong>
  </div>
  <div class="left-custom-menu-adp-wrap comment-scrollbar">
    <nav class="sidebar-nav left-sidebar-menu-pro">
      <ul class="metismenu" id="menu1">
        <li >
          <a class="has-arrow" href="index.html">
          <span class="educate-icon educate-home icon-wrap"></span>
          <span class="mini-click-non">Education</span>
          </a>
        </li>
        <li>
          <a title="Landing Page" href="events.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Event</span></a>
        </li>
        <li>
          <a href="http://localhost:3000/organizations">
            <span class="educate-icon educate-professor icon-wrap"></span> 
            <span class="mini-click-non">Organization</span>
          </a>
        </li>
        <li class="<%= is_active?(admin_naats_path) %>">
          <%= link_to "Naats", admin_naats_path %>
        </li>
        <li class="<%= is_active?(admin_events_path) %>">
          <%= link_to "Events", admin_events_path %>
        </li>
        <li class="<%= is_active?(admin_users_path) %>">
          <%= link_to "Users", admin_users_path %>
        </li>

        
        <li>
          <a class="has-arrow" href="all-courses.html" aria-expanded="false"><span class="educate-icon educate-library icon-wrap"></span> <span class="mini-click-non">Library</span></a>
          <ul class="submenu-angle" aria-expanded="false">
            <li><a title="All Library" href="library-assets.html"><span class="mini-sub-pro">Library Assets</span></a></li>
            <li><a title="Add Library" href="add-library-assets.html"><span class="mini-sub-pro">Add Library Asset</span></a></li>
            <li><a title="Edit Library" href="edit-library-assets.html"><span class="mini-sub-pro">Edit Library Asset</span></a></li>
          </ul>
        </li>
       
 

      </ul>



    </nav>
  </div>
</nav>