<%= form_for(@client, url: admins_clients_path, method: 'POST', :html => {:class => 'form go-right', style: "color: Green; padding: 20px;background-color:#FAFAFF;border-radius:0px 22px 22px 22px;"}) do |f| %>
  <h2>Create Nasdfasdew Client</h2>
  <p>Please update your profile for more security.</p>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="personal-info-form">
          <div class="profile-picture-holder">
            <span class="profile-image-title">Profile Picture</span>
            <div class="profile-image">
            </div>
          </div>
          <div class="fileinput-holder">
            <div class="fileinput fileinput-new" data-provides="fileinput">
              <span class="btn btn-default btn-file"><span>Upload Image</span><input type="file" multiple /></span>
              <span class="fileinput-filename"></span>
            </div>
            <a href="#" class="btn-remove-image">Remove Image</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
               <%= f.text_field :firstname, id:'NICN', :class =>'form-control', placeholder:'NICN' %>
              <label for="NICN">NICN <span class="glyphicon glyphicon-user"> </label>
            </div>
          </div>
      
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">  
              <%= f.text_field :firstname, id:'Firstname', :class =>'form-control' %>
              <label for="Firstname">First Name <span class="glyphicon glyphicon-user"> </span></label>
            </div>     
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <%= f.text_field :lastname, id:'LastName', :class =>'form-control' %>
              <label for="lastName">Last Name <span class="glyphicon glyphicon-user"> </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="form-group">
         <%= f.telephone_field :phone, id:'phone', :class =>'form-control' %>
        <label for="phone">Primary Phone <span class="glyphicon glyphicon-phone"></label>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.telephone_field :phone2, id:'phone2', :class =>'form-control', placeholder:'Secondary Phone' %>
        <label for="phone2">Secondary Phone <span class="glyphicon glyphicon-phone"></label>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="form-group">
       <%= f.select :gender, ['Male', 'Female', 'Not interested'], :class =>"form-control" %>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.date_field :datetime, id:'date', :class =>'form-control', placeholder:'DOB' %>
        <label for="date">DOB<span class="glyphicon glyphicon-calendar"></label>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.email_field :email, id:'Email', :class =>'form-control', placeholder:'Registered email' %>        
        <label for="Email">Registered email <span class="glyphicon glyphicon-align-envelope"></label>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.email_field :email2, id:'Email2', :class =>'form-control', placeholder:'Alternate email' %>
        <label for="Email2">Alternate email <span class="glyphicon glyphicon-align-envelope"></label>
      </div>
    </div>
  </div>
  <div class="row">
    <h2 class="step-second-padding">Client Address Info</h2>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.text_field :address, id:'Address', :class =>'form-control', placeholder:'Flat NO/House No' %>
        <label for="Address">Flat NO/House No</label>
      </div>     
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 margin-bottom-none">
      <div class="form-group">
        <input id="LandMark" name="LandMark" type="text" class="form-control" placeHolder="Land Mark">
        <label for="LandMark">Land Mark</label>
      </div>
    </div>
    <p class="Pincode">(Enter Pincode/Area to pick your nearest location)<span class="glyphicon glyphicon-map-marker"></span>
      </p>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="form-group" >
        <input input id="autocomplete" name="LocationPicker" type="text" onFocus="geolocate()" style=" moz-border-radius: 22px;border-radius: 7px;"  >
        <label for="LocationPicker">Location Picker</label>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <input id="route" name="route" type="tel" class="form-control">
        <label for="route">Route/Locality</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="form-group">
        <%= f.text_field :country, id:'country', :class =>'form-control', placeholder:'Country' %>
        <label for="country">Country</label>
      </div>   
    </div>
     <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="form-group">
        <%= f.text_field :province, id:'Province', :class =>'form-control', placeholder:'Province' %>
        <label for="Province">Province</label>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="form-group">
        <%= f.text_field :city, id:'city', :class =>'form-control', placeholder:'City/Town' %>
        <label for="city">City/Town</label>
      </div>    
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="form-group">  
        <%= f.text_field :area, id:'Area_Name', :class =>'form-control', placeholder:'City/Town' %>
        <label for="Area_Name">Area Name <span class="glyphicon glyphicon-user"> </span></label>
      </div>     
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="form-group">
        <input id="postal_code" name="postal_code" type="tel" class="form-control" >
        <label for="postal_code">Pin Code</label>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="form-group">
        <%= f.text_field :facebook_link, id:'Facebookbook', :class =>'form-control', placeholder:'>Facebook Address' %>
        <label for="Facebookbook">Facebook Address<span class="glyphicon glyphicon-align-envelope"></label>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="form-group">
        <%= f.text_field :twitter_link, id:'twitter_link', :class =>'form-control', placeholder:'Twitter Account' %>
        <label for="twitter_link">Twitter Account <span class="glyphicon glyphicon-align-envelope"></label>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="form-group">
        <%= f.text_field :whatsapp, id:'WhatsApp_no', :class =>'form-control', placeholder:'Twitter Account' %>
        <label for="WhatsApp_no">WhatsApp No <span class="glyphicon glyphicon-align-envelope"></label>
      </div>
    </div>
  </div>
  <a href="#" class="btn-save btn-add-client">
   + Add New Client
  </a> 
   <%= f.submit "Save", class: "btn-save" %>
<% end %>
