<div class="panel-area">
  <div class="container">
    <div class="row row-margin-0">
      <a class="invite-applicant" href="http://localhost:3000/newclient/index" data-toggle="modal" data-backdrop="modal-backdrop" data-target="#inviteModal11">+ New Clientt</a>
      <%= link_to "+ New Clientt", admins_clients_path  %>
      <button class="invite-applicant-btn" data-toggle="modal" data-backdrop="modal-backdrop" data-target="#inviteModal11" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> </button>
    </div>
  </div>
</div>
  <div class="container paddin-top">      
    <div class="applicant-control-area">
      <div class="col-md-6 col-sm-6 col-xs-12 buttonlist-padding">
        <ul class="button-list">
          <li class="edit-btn"><a  href="#">Edit</a></li>
          <li class="btn-sort-holder">
            `<div class="dropdown">
              <button class="dropdown-toggle btn-sort" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Sort
              <span class="caret"></span>
              </button>
              <ul class="dropdown-menu sort-dorpdown" aria-labelledby="dropdownMenu1">
                <li><a href="#">Prevanice</a></li>
                <li><a href="#">City</a></li>
                <li><a href="#">Aarea</a></li>
                <li><a href="#">Budget</a></li>
                <li><a href="#">Plain</a></li>
                <li><button class="btn-apply btn btn-default" type="submit">Apply</button></li>
              </ul>
            </div>
          </li>
          <li class="filter-area">
            <div id="filter-bar" class="clearfix">
              
                <%= form_tag('/admins/events', id:'search', method: :get) do |f|%>
                  <div id="label2">
                    <label for="search-terms" id="search-label">Filter</label>
                  </div>
                  <div id="input2">
                    <%= text_field_tag 'query', params[:query], id:'search-terms', placeholder:'Search' %>
                  </div>
                <% end %>
            </div>
            <a href="#" ></a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 pull-right padding-right-0 mob-display-none">
        <ul class="progress-status">
          <li><i class="fa fa-circle circle-gray"> </i>Incomplete</li>
          <li><i class="fa fa-circle circle-yellow"></i> Pending</li>
          <li><i class="fa fa-circle circle-green"></i> Accepted</li>
          <li><i class="fa fa-circle circle-magenta"></i> Denied</li>
        </ul>
      </div>
    </div>


    <div class="group-applicant">
      <% @clients.each do |client| %>
        <div class="columns-applicant first-columns-applicant">
          <%= link_to "Delete", admins_client_path(client), :data=> {:confirm=> "Are you sure? "}, :method => :delete %>
          <%= link_to "Edit", edit_admins_client_path(client) %>
          <div class="row row-eq-height">
           <div class="col-table-box-1">
            <p>1</p>
           </div>

            <div class="col-table-box-2 address-col">
              <div class="applicant-mobile-date">
                <div class="applicant-holder">
                  <img src="images/resume-image1.jpg" class="applicant-image" alt="applicant image">
                </div>
                <div class="applicant-info">
                  <%= link_to client.firstname, admins_client_path(client), :class =>'applicant-name' %>
                  <a  href="#"> </a>
                  <address class="applicant-address">
                    <i class="fa fa-map-marker"></i> 
                    <%= client.address %>
                  </address>
                </div>
              </div>
              <div class="applicant-mobile-date desktop-display-none">
                <div class="applicant-date">
                  <strong class="date">May 25, 2016</strong>
                  <span>Available From</span>
                </div>
                <ul class="bugdet-info">
                  <li class="rent">
                    <p><em class="minus-price">-200</em> $2,400 </p>
                    <span>Rent</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-table-box-3 mob-display-none">
              <div class="email-holder">
                <p><a href="#"><%= client.email %></a> </p> 
                <p><a href="#"><%= client.email2 %></a> </p> 
              </div>                  
            </div>
            <div class="col-table-box-5">
              <div class="phone-wrap">
                <p><%= client.phone %></p>
                <p><%= client.phone2 %> </p>
              </div>
            </div>
            <div class="col-table-box-6">
              <div class="score">
                <p><%= client.country %></p>
                <p><%= client.province %></p>
                <p><%= client.city %></p>
                <p><%= client.area %></p>
              </div>
            </div>
            <div class="col-table-box-7">
              <div class="score">
                <p><%= client.nicn %></p>
                <p><%= client.id %></p>
              </div>
            </div>
            <div class="col-table-box-8">
              <div class="client-status text-center">
                <i class="fa fa-circle circle-yellow"></i> 
                <p>Pending</p>
              </div>
            </div>
            <div class="col-table-box-9">
              <div class="client-status text-center">
                <p>Basic Plan</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="columns-applicant none-selected-row selected-row">
        <div class="row row-eq-height">
          <div class="col-table-box-2 address-col">
            <div class="applicant-mobile-date">
              <div class="applicant-info">
                <a class="applicant-name" href="#"> Brian Jones</a>
                <span class="applicant-current-status">(Co-signer)</span>
              </div>
            </div>
          </div>
          <div class="col-table-box-7">
             
          </div>
          <div class="col-table-box-8">
            <div class="score">
              <div class="credit-score">
                <span>42</span>
              </div>
            </div>
          </div>
          <div class="col-table-box-9">
            <div class="score">
              <div class="credit-score">
                <span>42</span>
              </div>
            </div>
          </div>
        </div>
      </div>





    </div>




    






  </div>
