<!-- Mobile Menu end -->
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                      <div class="col-lg-2 col-md-3 col-sm-2 col-xs-12">
                         <h1>profiles</h1>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <div class="breadcome-heading">
                          <form role="search" class="sr-input-func">
                            <input type="text" placeholder="Search..." class="search-int form-control">
                            <a href="#"><i class="fa fa-search"></i></a>
                          </form>

                          <%=form_tag('/users', method: :get) do |f| %>
                            <div id="label2"><label for="search-terms" id="search-label">Filter</label></div>
                            <div id="input2">
                              <%=text_field_tag'query', params[:query], id:'search-terms' %>
                            </div>
                          <%end%>


                        </div>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <a class="invite-applicant" href="http://localhost:3000/newclient/index" data-toggle="modal" data-backdrop="modal-backdrop" data-target="#inviteModal11">+ New User</a>
                        <button class="invite-applicant-btn" data-toggle="modal" data-backdrop="modal-backdrop" data-target="#inviteModal11" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> </button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <% @profiles.each do |profile| %> 
    <div class="columns-applicant">
      <div class="checkbox">
        <div class="i-checks pull-left">
          <label>
            <%= check_box_tag "profile_ids[]", profile.id %>
          </label>
        </div>
      </div>
      <div class="row-wrap">
        <div class="row row-eq-height">
         <div class="col-table-box-1">
          <p>1</p>
         </div>
          <div class="col-table-box-2 address-col">
            <div class="applicant-mobile-date">
              <div class="applicant-holder">
                <%#= image_tag profile.photo.url, :class => 'applicant-image' %>
              </div>
              <div class="applicant-info">
                <%= link_to profile.firstname, profile_path(profile), :class =>'applicant-name' %>
                <address class="applicant-address">
                  <i class="fa fa-map-marker"></i> 
                  <%= profile.address %>
                </address>
              </div>
            </div>
          </div>
          <div class="col-table-box-3 mob-display-none">
            <a href="#"><%= profile.email %></a>  
                              
          </div>
          <div class="col-table-box-5">
            <div class="phone-wrap">
              <p><%= profile.phone %> </p>
              <p><%= profile.phone2 %> </p>
            </div>
          </div>
          <div class="col-table-box-6">
            <div class="score">
              <p><%= profile.id %></p>
              <p><%= profile.nicn %></p>
            </div>
          </div>
          <div class="col-table-box-7">
            <div class="score">
              <p><%= profile.country %></p>
              <p><%= profile.province %></p>
            </div>
          </div>
          <div class="col-table-box-8">
            <div class="score">
              <p><%= profile.city %></p>
              <p><%= profile.area %></p>
            </div>
          </div>
          <div class="col-table-box-9">
            <div class="score">
              <p><%= profile.my_skills %></p>
              <p><%= profile.latitude %></p>
              <p><%= profile.longitude %></p>
            </div>
          </div>
          <div class="col-table-box-10">
            <div class="score">
              <%= link_to "", profile_path(profile), :data=> {:confirm=> "Are you sure? "}, :class=> 'fa fa-trash', :method => :delete %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

